<a href="https://colab.research.google.com/github/Anuubhavvvv/python-basics/blob/main/practice_set_assimilate_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a progrm to demonstrate different data types

In [ ]:
a=10
b=10.5
c='ball'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

write a progrm to perform different arithematic operations on number

In [ ]:
a=int(input("enter no. a"))
b=int(input("enter no. b"))
sum=a+b
diff=a-b
div=a/b
product=a*b
exponent=a**b
print("sum",sum)
print("diff",diff)
print('div',div)
print("product",product)
print("product",exponent)

enter no. a2
enter no. b3
sum 5
diff -1
div 0.6666666666666666
product 6
product 8

Write a program to create , concatenate and print a string and accessing sub string from a give a string

In [ ]:
a=str(input('enter the 1st string'))
b=str(input('enter the 2nd string'))
print("Concatenated string",a+b)
print("substring",a[1:4])

enter the 1st stringanubhav
enter the 2nd stringsharma
Concatenated string anubhavsharma
substring nub

write a program to print current date

In [ ]:
import time;
ltime=time.localtime();
print(time.strftime("%a %b %d %H:%M:%S %Z %Y",ltime))

Fri Aug 06 04:15:28 UTC 2021

Write a program to create,append and remove lists in python

In [ ]:
l1=[1,2,3,456,678,2,3,5]
l1.append(8)
print(l1)

[1, 2, 3, 456, 678, 2, 3, 5, 8]

In [ ]:
del l1[3]
print(l1)

[1, 2, 3, 678, 2, 3, 5, 8]

In [ ]:
del l1[1:3]
print(l1)

[1, 3, 5, 8]

write a python program to find largest of the three numbers

In [ ]:
n1=int(input("Enter first number"))
n2=int(input("Enter second number"))
n3=int(input('Enter the third'))
if n1>n2 and n1>n3:
  print(n1,"is the largest")
elif n2>n3 and n2>n1:
  print(n2,"is the largest")
else :
  print(n3,"is the largest")

Enter first number14
Enter second number15
Enter the third17
17 is the largest

Write a program to convert temperatures from celsius to farenheit

In [ ]:
T1= float(input("enter the temp"))
unit= input("C= celsius & F = farenheit")
if unit == 'C':
  newtemp = 9/5*T1+32
  print("Temprature in farenheit=",newtemp)
elif unit=='F':
 newtemp =5/9*(temp-32)
 print('Temprature in celsius=',newtemp)

enter the temp45
C= celsius & F = farenheitC
Temprature in farenheit= 113.0

write a program to make the pattern

In [ ]:
n=5
for i in range(n):
  for a in range(i):
    print('*',end="")
  print('')
for i in range(n,0,-1):
  for a in range(i):
    print('*', end="")
  print('')

*
**
***
****
*****
****
***
**
*

write a python program to find factorial of a number using recursion\

In [ ]:
def factorial(n):
  if n==1:
    return n
  else :
    return n*factorial(n-1)
num=int(input("Enter a number "))
if num<0:
  print('factorial for negative number doesnot exist')
elif num==0:
  print('factorial for zero is 1')
else:
  print('The factorial is',num,'is',factorial(num))

Enter a number 5
The factorial is 5 is 120

write a program to chech the triangle is right angled triangle or not

In [ ]:
b=float(input("Enter the length of base"))
p=float(input("Enter the length of perpendicular"))
h=float(input("Enter the length of hypotenuse"))
if h**2==((b**2)+(p**2)):
  print('the triangle is right angle triangle')
else :
  print("the triangle is not right angle triangle")

Enter the length of base4
Enter the length of perpendicular3
Enter the length of hypotenuse5
the triangle is right angle triangle